/*
 * File: app.component.css
 * Authors: Juhász Zsolt
 * Copyright: 2022, Juhász Zsolt
 * Group: Szoft II/N
 * Date: 2022-01-15
 * Github: https://github.com/Zsoltjuhasz
 * Licenc: GNU GPL
 */


body {
    background: #00ffb7;;
}
h1{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: mediumblue;
}

h2{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: mediumblue;
}

h3{
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    color: mediumblue;
}

label{
    font-weight: bold;
    color: black;
    font-size: large;
}
button{
    font-weight: bold;
    margin: 5;
    color: black;
    border-radius: 10px;
}
input{
    border: 2px solid black;
}

